@charset "utf-8";
/* CSS Document */
body{background: #505050; font-family: "微软雅黑"; font-size: 14px;}
a:link,a:visited{text-decoration: none;color: #fff;font-size: 16px;}
a:hover div{opacity:0.8;transition: all 0.6;}/*鼠标悬停变灰*/


.logo{
	list-style-type:none;
	padding-right: 40px;
}


#header{
    width: 100%;
    height: 80px;
    background: #242424;
	text-align: center;
	margin:0 auto;
}
#header img{
    width: 100px;
    height: auto;
}
.nav{
    width: 1200px;
    text-align: center;
	margin:0 auto;
	list-style-type:none;
}
li{
	padding: 0px;
	color: #fff;
	float: left;
}
li a{
    display: inline-block;
    height: 80px;
    width: 120px;
    text-align: center;
    line-height: 70px;
}
li a:hover{color: #C6C6C6;}

.banner{
	color: #ECECEC;
	background: url("images/ningbo.jpg") center ;
	width: 80%;
	height: 500px;
	text-align: center;
	margin:0 auto;
}

.banner-p{
	color: #ECECEC;
	background: url("images/dmk.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}
.banner-p1{
	color: #ECECEC;
	background: url("images/sjk.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}

.banner-p2{
	color: #ECECEC;
	background: url("images/nbez.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}

.banner-p3{
	color: #ECECEC;
	background: url("images/dqh.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}

.banner-p4{
	color: #ECECEC;
	background: url("images/ntlj.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}

.banner-p5{
	color: #ECECEC;
	background: url("images/lwt.jpg") center ;
	width: 60%;
	height: 500px;
	text-align: center;
	margin:40px 20% 15px 20%;
}
.banner-p6{
	color: #ECECEC;
	background: url("images/ningbo.jpg") center ;
	width: 80%;
	height: 700px;
	text-align: center;
	margin:40px 10% 45px 10%;
}

.content{
	color: #ECECEC;
	width: 58%;
	height: auto;
	text-align: left;
	margin: 5px 21% 55px 21%;
	clear:both;/*清除浮动*/
}

.content-a{
	color: #ECECEC;
	background: url("images/dmk.jpg") center ;
	width: 35%;
	height: 500px;
	text-align: center;
	margin: 5px 0.5% 5px 10%;
	float:left;/*设置左浮动属性*/
}

.content-b{
	color: #ECECEC;
	background: url("images/sjk.jpg") center ;
	width: 24%;
	height: 500px;
	text-align: center;
	margin: 5px 0.5% 5px 0;
	float:left;/*设置左浮动属性*/
}

.content-c{
	color: #ECECEC;
	background: url("images/nbez.jpg") center ;
	width: 20%;
	height: 500px;
	text-align: center;
	margin: 5px 0px 5px 0;
	float:left;/*设置左浮动属性*/
}

.content-e{
	color: #ECECEC;
	background: url("images/dqh.jpg") center ;
	width: 20%;
	height: 500px;
	text-align: center;
	margin: 5px 0.5% 10px 10%;
	float:left;/*设置左浮动属性*/
}

.content-f{
	color: #ECECEC;
	background: url("images/ntlj.jpg") center ;
	width: 19%;
	height: 500px;
	text-align: center;
	margin: 5px 0.5% 10px 0;
	float:left;/*设置左浮动属性*/
}

.content-g{
	color: #ECECEC;
	background: url("images/lwt.jpg") center ;
	width: 40%;
	height: 500px;
	text-align: center;
	margin: 5px 0px 10px 0;
	float:left;/*设置左浮动属性*/
}




#footer{
	width:100%;
	height:110px;
	background:#202020;
	color:#aaa;
	line-height:26px;
	text-align:center;
	padding-top:20px;
	margin-botton:0px;
	clear:both;/*清除浮动*/
}