@charset "utf-8";
/* CSS Document */
@media (min-width:576px) {
  .container {
    max-width: 570px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 760px
  }
}
@media (min-width:992px) {
  .container {
    max-width: 970px
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1160px
  }
}
.navbar-nav li {
  margin-right: .1rem;
  margin-left: .5rem
}
@media (min-width:768px) {
  /* 图片轮播适应宽度 电脑版 */
  .carousel-inner img {
    width: 100%;
    /*height: 100%;*/
  }
}
@media (max-width:768px) {
  /* 图片轮播适应宽度 电脑版 */
  .carousel-inner img {
    /*    width: 100%;*/
    height: 100%;
  }
}
/*所有的bootstrap容器*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
/*全局背景色*/
body {
  background-color: #272d33;
}
/* 轮播图片 */
.carousel-inner img {
  overflow: hidden;
}
.carousel {
  height: 500px;
  margin-bottom: 90px;
}
.carousel-item {
  height: 500px;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-inner {
  margin-top: 55px;
}
.footer-bar {
  background-color: #14191e;
  font-size: 0.7rem;
}
.footer {
  font-size: 0.9rem;
  line-height: 1rem;
  background-color: #1F252C;
}
/*row*/
.window-square {
  background-color: #000;
  /*这个设置没啥意义*/
}
@media (max-width:768px) {
  .window .row .window-square {
    height: 260px !important;
  }
  .window .dmk {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .sjk {
    margin: 0rem -.125rem .125rem .125rem;
  }
  .window .yh {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .dqh {
    margin: 0rem -.125rem .125rem .125rem;
  }
  .window .nt {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .lwt {
    margin: 0rem -.125rem .125rem .125rem;
  }
}
@media (min-width:768px) {
  .window .row .window-square {
    height: 396px;
  }
  .window {
    margin-top: 4rem;
  }
  .window .dmk {
    margin: 0 .25rem .25rem -.5rem;
  }
  .window .sjk {
    margin: 0 .25rem .25rem .25rem;
  }
  .window .yh {
    margin: 0rem -.5rem .25rem .25rem;
  }
  .window .dqh {
    margin: .25rem .25rem .25rem -.5rem;
  }
  .window .nt {
    margin: .25rem .25rem .25rem .25rem;
  }
  .window .lwt {
    margin: .25rem -.5rem .25rem .25rem;
  }
}
.window {
  margin-bottom: 4rem;
}
@media (max-width:768px) {
  .window {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
}
/*手机版去除头尾部部空白*/
@media (max-width:576px) {
  .window {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.window a:hover {
  /*鼠标悬停变灰*/
  /*opacity: 1;*/
  background-color: rgba(0, 0, 0, .5);
  text-decoration: none;
  /*去除超链接下划线*/
}
.window a {
  transition: all 0.8s;
} /*鼠标悬停特效延时*/
.window .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
}
.window .mask .text-center {
  opacity: 1;
}
/*以下是正文排版部分css*/
.page-bg {
  height: 300px;
  background: url("../images/dmk.webp") center;
  background-size: 100% auto;
}
.main-passage p {
  font-size: .95rem;
  /*正文字体*/
  margin: 1.5rem 0 1.5rem 0;
  letter-spacing: .2rem;
}
.main-passage img {
  max-width: 100%;
  height: auto;
}
blockquote {
  background-color: #2C2C2C;
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  margin: 1.5rem 0 0.8rem -.2rem;
  border-left: .5rem solid #454545;
}
/*小尺寸设备优化*/
.passage h2 {
  font-size: 1.5rem;
}
@media (max-width:768px) {
  .passage .ml-5, .passage .mx-5 {
    margin-left: 1rem !important;
  }
  .passage .mr-5, .passage .mx-5 {
    margin-right: 1rem !important;
  }
  .passage .display-4 {
    font-size: 2rem;
  }
  .passage h1 {
    font-size: 2rem;
  }
  .passage h2 {
    font-size: 1.2rem !important;
  }
  .main-passage p {
    font-size: .75rem !important;
    /*正文字体移动版*/
  }
}