@charset "utf-8";
/* CSS Document */
@media (min-width:576px) {
  .container {
    max-width: 570px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 760px
  }
}
@media (min-width:992px) {
  .container {
    max-width: 970px
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1160px
  }
}
.navbar-nav li {
  margin-right: .1rem;
  margin-left: .5rem
}
@media (min-width:768px) {
  /* 图片轮播适应宽度 电脑版 */
  .carousel-inner img {
    width: 100%;
    /*height: 100%;*/
  }
}
@media (max-width:768px) {
  /* 图片轮播适应宽度 电脑版 */
  .carousel-inner img {
    /*    width: 100%;*/
    height: 100%;
  }
}
/*所有的bootstrap容器*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}
/*全局背景色*/
body {
  background-color: #272d33;
}
/* 轮播图片 */
.index-pic .carousel-inner img {
  overflow: hidden;
}
.index-pic .carousel {
  height: 500px;
  margin-bottom: 90px;
}
.index-pic .carousel-item {
  height: 500px;
}
.index-pic .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.index-pic .carousel-inner {
  margin-top: 55px;
}
.footer-bar {
  background-color: #14191e;
  font-size: 0.7rem;
}
.footer {
  font-size: 0.9rem;
  line-height: 1rem;
  background-color: #1F252C;
}
/*row*/
.window-square {
  background-color: #000;
  /*这个设置没啥意义*/
}
@media (max-width:768px) {
  .window .row .window-square {
    height: 260px !important;
  }
  .window .dmk {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .sjk {
    margin: 0rem -.125rem .125rem .125rem;
  }
  .window .yh {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .dqh {
    margin: 0rem -.125rem .125rem .125rem;
  }
  .window .nt {
    margin: 0rem .125rem .125rem -.125rem;
  }
  .window .lwt {
    margin: 0rem -.125rem .125rem .125rem;
  }
}
@media (min-width:768px) {
  .window .row .window-square {
    height: 396px;
  }
  .window {
    margin-top: 4rem;
  }
  .window .dmk {
    margin: 0 .25rem .25rem -.5rem;
  }
  .window .sjk {
    margin: 0 .25rem .25rem .25rem;
  }
  .window .yh {
    margin: 0rem -.5rem .25rem .25rem;
  }
  .window .dqh {
    margin: .25rem .25rem .25rem -.5rem;
  }
  .window .nt {
    margin: .25rem .25rem .25rem .25rem;
  }
  .window .lwt {
    margin: .25rem -.5rem .25rem .25rem;
  }
}
.window {
  margin-bottom: 4rem;
}
@media (max-width:768px) {
  .window {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
}
/*手机版去除头尾部部空白*/
@media (max-width:576px) {
  .window {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.window a:hover {
  /*鼠标悬停变灰*/
  /*opacity: 1;*/
  background-color: rgba(0, 0, 0, .5);
  text-decoration: none;
  /*去除超链接下划线*/
}
.window a {
  transition: all 0.8s;
} /*鼠标悬停特效延时*/
.window .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
}
.window .mask .text-center {
  opacity: 1;
}
/*以下是正文排版部分css*/
.page-bg {
  height: 300px;
  background-size: 100% auto;
}
.main-passage p {
  font-size: .95rem;
  /*正文字体*/
  margin: 1.5rem 0 1.5rem 0;
  letter-spacing: .2rem;
}
.main-passage img {
  max-width: 100%;
  height: auto;
  /*高度超过500px的图片会被强制缩小*/
  max-height: 500px;
}
blockquote {
  background-color: #2C2C2C;
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  margin: 1.5rem 0 0.8rem -.2rem;
  border-left: .5rem solid #454545;
}
/*小尺寸设备优化*/
.passage h2 {
  font-size: 1.5rem;
}
@media (max-width:768px) {
  .passage .ml-5, .passage .mx-5 {
    margin-left: 1rem !important;
  }
  .passage .mr-5, .passage .mx-5 {
    margin-right: 1rem !important;
  }
  .passage .display-4 {
    font-size: 2rem;
  }
  .passage h1 {
    font-size: 2rem;
  }
  .passage h2 {
    font-size: 1.2rem !important;
  }
  .main-passage p {
    font-size: .75rem !important;
    /*正文字体移动版*/
  }
}
/*登录页的图片轮播控件相关*/
.login .carousel-inner {
  height: 100%
}
.login .carousel {
  height: 100%;
}
.login .carousel-item {
  height: 100%;
}
@media (min-width:768px) {
  /* 登陆界面图片轮播适应宽度 电脑版 */
  .login .carousel-inner img, .login .carousel-item img {
    /* height:100%   width: auto;貌似有问题*/
    height: 100vh !important;
    /*占满屏幕高度*/
    width: auto;
  }
  .login .login-form {
    /*电脑版消除左侧轮播导致的向右偏移*/
    /*    width: 100%;*/
    margin-left: -15px;
  }
}
.mt-login {
  /*登录界面的导航条不再默认保留下间距*/
  margin-top: 0rem;
}
.login .btn-primary {
  color: rgb(255, 255, 255);
  background-color: mediumpurple;
  border-color: mediumpurple;
}
/*登录表单相关，copy自biitstrap表单组件*/
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input, .form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}
.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .form-label-group label {
    position: static;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}